@font-face {
	font-family: 'DIN';
	font-weight: 400;
	src: url('font/DIN2014-Regular.woff');
}
@font-face {
	font-family: 'DIN';
	font-weight: 700;
	src: url('font/DIN2014-Bold.woff');
}
@font-face {
	font-family: 'PF DIN Mono';
	font-weight: 400;
	src: url('font/PFDinMono-Regular.woff2');
}
@font-face {
	font-family: 'PF DIN Mono';
	font-weight: 500;
	src: url('font/PFDinMono-Medium.woff2');
}
@font-face {
	font-family: 'PF DIN Mono';
	font-weight: 700;
	src: url('font/PFDinMono-Bold.woff2');
}

:root {
	--leftBar-width: 68px;
	--table-shiftToLeft: 62px;
	--logo-resultingWidth: 142px;
}

body {
	margin: 0;
	padding-top: 8px;
	min-height: 100vh;
	box-sizing: border-box;
	background: #262729;
	border-left: solid var(--leftBar-width) #1f1f21;
	color: white;
}
table {
	margin-left: calc( var(--table-shiftToLeft) * -1);
	width: calc( 100% - var(--logo-resultingWidth) + var(--table-shiftToLeft) );
	border-collapse: collapse;
}
.prev-input, input {
	font: 16.35px 'PF DIN Mono';
}
input {
	width: 100%;
	background: #9a4;
	border: solid 2px #000;
	margin-top: -2px;
	margin-left: 4px;
	padding: 1px 3px 3px;
	color: #000;
	font-weight: 500;
}
.prev-input {
	padding-top: 3px;
	padding-left: 10px;
	white-space: nowrap;
	font-weight: 400;
}
/*.prev-input:hover {
	background: #3e343c;
	cursor: pointer;
}*/
.prev-input .upper {color: #ffd800}
.prev-input .number {color: #66a8ff}
.prev-input .symbol {color: #ff6f60}
.prev-input .extra {color: #f7f}

td {
 	padding: 1px 1px 15px; /* unfortunately I forgot that td has a default padding, and I built the whole thing like that */
}

.sec, .bar {
	margin-left: 20px;
	padding-top: 3px;
}
.sec {
	padding-left: 20px;
	width: 55px;
	font: 400 16px 'DIN';
	letter-spacing: .25px;
}
.bar {
	max-width: 1px;
	overflow: hidden;
}
.bar div {
	height: 13px;
}
.bar:not(.checked) div {
	background: #444;
}

td:nth-child(-n + 2) {
	width: 29px;
	font-size: 16px;
}
.remove::after {
	content: '\274C';
	display: block;
	filter: sepia(1) saturate(.22) hue-rotate(174deg) brightness(.7);
}
.remove:hover::after {
	filter: grayscale(0);
	cursor: pointer;
}
.hl:not(.checked)::after {
	content: '\2B1C';
	filter: sepia(1) saturate(3.5) hue-rotate(177deg) brightness(.39);
}
.hl.checked::after {
	content: '\2705';
	text-shadow: 0 0 9px #16c60c;
}
.hl:not(.checked):hover::after {
	filter: sepia(1) saturate(7) hue-rotate(51deg) brightness(.5);
	cursor: pointer;
}


.counter {
	position: fixed;
	bottom: 11px;
	right: 11px;
	font: 700 42px/.8em 'DIN';
	color: #959ba1;
	display: flex;
	gap: 2px;
}
.counter #of {
	padding-right: 1px; /* fixing "/" karakter margin */
	font-weight: 500;
}
.counter #of.ten { /* 10-19 total needs less distance */
	padding-right: 0;
	margin-right: -3px;
}


.title {
	position: fixed;
	top: 15px;
	right: 15px;
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
}
.logo {
	font: 700 59px/36px 'PF DIN Mono';
	color: #ae343c;
	display: flex;
	flex-wrap: wrap;
	width: 62px;
	padding-bottom: 5px;
	margin-right: -3px;
}
.logo span {
	position: relative;
	display: inline-block;
}
.logo span i {
	font-style: normal;
	position: relative;
	display: inline-block;
}
.logo::before { /* overlap fuzz removal */
	content: '';
	position: absolute;
	margin-left: 2px;
	background: #262729;
	border-right: solid 1px #ae343c;
	width: 1px;
	height: 77px;
	z-index: 1;
}

.logo .P {
}
.logo .T {
	top: 9px;
	margin-left: -4px;
}

.subtitle {
	margin-top: -1px;
	font: 9px/12px "Verdana";
	letter-spacing: .5px;
	width: 50px;
	color: #84888e;
	text-align: right;
}